<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
	    <modules runAllManagedModulesForAllRequests="false" />
		<httpErrors errorMode="Custom" existingResponse="Replace">
		    <remove statusCode="404" />
		    <error statusCode="404" responseMode="File" path="404.html" />
		</httpErrors>
	    <rewrite>
		    <rules>
			    <rule name="Convert to lowercase" stopProcessing="false">
				    <match url=".*[A-Z].*" ignoreCase="false" />
				    <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />
				</rule>
	            <rule name="Trailing Slash" stopProcessing="false">
	                <match url="(.*[^/])$" />
	                <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
	                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
	                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
	                    <add input="{URL}" pattern="WebResource.axd" negate="true" />
	                </conditions>
	                <action type="Redirect" url="{R:1}/" />
	            </rule>
                <rule name="Redirect to WWW" stopProcessing="false">
                      <match url=".*" />
                      <conditions>
                            <add input="{HTTP_HOST}" pattern="^http://collectivematters.com$" />
                      </conditions>
                      <action type="Redirect" url="http://www.collectivematters.com/{R:0}" redirectType="Permanent" />
                </rule>
	        </rules>
	    </rewrite>
    </system.webServer>
</configuration>
